apache-beam==2.50.0
asgiref==3.8.1
bcrypt==4.1.2
blinker==1.7.0
cachetools==5.3.0
certifi==2022.12.7
charge==0.0.1
charset-normalizer==3.0.1
click==8.1.7
colorama==0.4.6
cycler==0.11.0
Cython==0.29.28
Django==5.0.4
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
fonttools==4.29.1
google-auth==2.17.3
google-auth-oauthlib==1.0.0
graphviz==0.20
greenlet==3.0.3
grpcio==1.58.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
kiwisolver==1.3.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.5.1
ml-dtypes==0.1.0
mysqlclient==2.2.4
numpy==1.26.0
oauthlib==3.2.2
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandas==2.2.2
pathfinder==0.6.2
Pillow==9.0.1
protobuf==4.22.4
py4j==0.10.9.7
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.3.0
pycountry==22.3.5
pyparsing==3.0.7
pyspark==3.5.1
pyspellchecker==0.6.3
python-dateutil==2.8.2
pytz==2024.1
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.13.2
six==1.16.0
SQLAlchemy==2.0.29
sqlparse==0.5.0
Telethon==1.27.0
tensorboard-data-server==0.7.0
tensorflow==2.13.0
tensorflow-data-validation==1.14.0
tensorflow-estimator==2.13.0
tensorflow-examples===5bc9f1ed519146242db5e71f00d9d39d52a308c8-
tensorflow-hub==0.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.25.0
tensorflow-metadata==1.14.0
tensorflow-model-analysis==0.45.0
tensorflow-serving-api==2.13.0
tensorflow-transform==1.14.0
tfx==1.14.0
tfx-bsl==1.14.0
threadpoolctl==3.1.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==1.26.14
vboxapi==1.0
vk==3.0
Werkzeug==3.0.1
